<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>JB AI Support</h5>
        <p>Revolutionizing the future of banking support with artificial intelligence.</p>
        <p>&copy; {{currentYear}} JB AI Support. All Rights Reserved.</p>
      </div>
      <div class="col-md-2 mb-4 mb-md-0">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-4 mb-md-0">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Stay Connected</h5>
        <div class="social-icons">
          <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
          <a href="#" class="icon"><i class="bi bi-twitter"></i></a>
          <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
          <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="newsletter mt-3">
          <p>Subscribe to our newsletter</p>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
