<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <!-- Content for non-authenticated users -->
      <div *ngIf="!isAuthenticated">
        <h1 class="display-4" style="color: #DB7093;">Welcome to JB AI Support</h1>
        <p class="lead">Revolutionizing Banking Support with Artificial Intelligence</p>
        
        <div class="card-deck mt-4">
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">AI Assistance</h5>
                  <p class="card-text">Get instant support for your banking queries</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Credit System</h5>
                  <p class="card-text">Flexible credits for seamless interactions</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Quick Responses</h5>
                  <p class="card-text">Fast and accurate AI-powered resolutions</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="mt-4 mb-4">
          <a href="/register" class="btn btn-primary btn-lg">Get Started</a>
        </div>
      </div>

      <!-- Content for authenticated users -->
      <div *ngIf="isAuthenticated">
        <h1 class="display-4" style="color: #DB7093;">Welcome {{ userDetails.username }}</h1>
        <p class="lead">We hope you enjoy using JB AI for your virtual assistance.</p>
        
        <h6>
          As a way to say thank you, we have given you 20 free credits on successful registration to use JB AI. 
        </h6>
        <h6>
          You are currently on the <span>{{ userDetails.plan_subscribed_to }}</span> plan and you have <span>{{ userDetails.credits_remaining }}</span> number of credits remaining.
        </h6>
        <h6>
          You can visit our <a class="priceLink" href="/pricing">pricing</a> page to upgrage your plan and purchase more credits.
        </h6>
      </div>
    </div>
  </div>
</div>