.api-design-container {
  padding: 20px;
}

.mat-table {
  width: 100%;
  margin-bottom: 20px;
}

.endpoint-panel {
  margin-bottom: 10px;
}

.endpoint-details {
  display: flex;
  justify-content: space-between;
}

.request-body, .response-body {
  width: 48%;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.mat-mdc-card-header {
  background-color: #DB7093;
  color: white;
}

.mat-mdc-card-title {
  color: black !important;
  font-weight: bold;
}

.chip-get {
  background-color: #1976d2; /* Blue */
  color: white;
}

.chip-post {
  background-color: #388e3c; /* Green */
  color: white;
}

.chip-put {
  background-color: #fbc02d; /* Yellow */
  color: black;
}

.chip-delete {
  background-color: #d32f2f; /* Red */
  color: white;
}

.chip-default {
  background-color: #9e9e9e; /* Grey */
  color: white;
}

.imgClass {
  height: 300px;
  width: 500px;
}
