<div class="dashboard-container mt-3">
  <div class="row mx-2">
    <div class="d-flex justify-content-between">
      <div class="aesth">Username: {{ adminDetails.username }}</div>
      <div class="aesth">Email: {{ adminDetails.email }}</div>
      <div class="aesth">Role:{{ adminDetails.role }}</div>
    </div>
  </div>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Admin Dashboard</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-card class="mt-4">
        <mat-card-header>
          <mat-card-title>User Statistics</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Metric Column -->
            <ng-container matColumnDef="metric">
              <mat-header-cell *matHeaderCellDef> Metric </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.metric}} </mat-cell>
            </ng-container>

            <!-- Count Column -->
            <ng-container matColumnDef="count">
              <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
            </ng-container>

            <!-- Percentage Column -->
            <ng-container matColumnDef="percentage">
              <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.percentage | number:'1.2-2'}}% </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>