<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center mb-4" style="color: #DB7093;">AI Support Credits Pricing</h2>

      <div *ngIf="!token" class="text-center my-5">
        <i class="bi bi-bell text-muted mt-5" style="font-size: 3rem;"></i>
        <p class="mt-5">Kindly register to JB AI Support to view our pricing options!</p>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of plans">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">{{item.plan}} Plan</h5>
              <p class="h3 mb-3" style="color: #DB7093;">£{{item.amount}}/month</p>
              <ul class="list-unstyled">
                <li *ngFor="let benefit of getBenefitsList(item.benefits)">
                  {{ benefit }}
                </li>
              </ul>
              <button type="button" class="btn btn-primary" style="background-color: #DB7093;" (click)="onChoosePlan(item.plan)">
                Choose Plan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>